
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/public/css/style.css"  type="text/css">
	<title>Jokes</title>
</head>

<body>
    <style>
        body {
            background-color: pink;
            text-align: center;
            background-position: center;
           font-family:Verdana, Geneva, Tahoma, sans-serif ;
           font-size:30px;
        }
    
        #words { 
            border-width: 10px; 
            background-color: white;
            border-color: rgb(249, 114, 136);
            border-style:ridge;
            padding: 30px; 
            margin-left:330px; 
            width: 50%;
            font-family:fantasy;
            font-weight:bold;
            font-size:20px;
        }
    </style>
  
    
	<h1 >Welcome to Joke Generator</h1>

    <div id = "words">
         Want to hear some jokes about a variety of topics? Click the button 
        <a href="/placeRequest">Generate</a>
        <br>
        <br>
        To select past jokes based on type <a href="/selectByType">Select By Type</a>
        <br>
        <br>
        To remove all jokes <a href="/removeAllJokes">Remove All Jokes</a></li>
    </div>
    <hr>
    <a href = "/">HOME</a>

</body>

</html>
