

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Basic HTML5 Document">
    <meta name="keywords" content="HTML5, Responsive"> <!-- for search engine optimization (SEO) -->
	<title>Remove</title>
</head>

<body>
    <style>
        body {
            background-color: pink;
            text-align: center;
            background-position: center;
           font-family:Verdana, Geneva, Tahoma, sans-serif ;
           
        }
    
        #words { 
            border-width: 10px; 
            background-color: white;
            border-color: rgb(249, 114, 136);
            border-style:ridge;
            padding: 30px; 
            margin-left:330px; 
            width: 50%;
            font-family:fantasy;
            font-weight:bold;
            font-size:20px;
        }
    </style> 
	<h1>Remove All Jokes</h1>
    All jokes have been removed from the database. Num of jokes removed: <%= num %>
<hr>
<strong><div id = "time"></div></strong>

    
	<hr>
    <a href = "/">HOME</a>
</body>

</html>
