
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Type</title>
</head>

<body>
    <style>
       body {
            background-color: pink;
            text-align: center;
            background-position: center;
           font-family:Verdana, Geneva, Tahoma, sans-serif ;
           
        }
    
        #words { 
            border-width: 10px; 
            background-color: white;
            border-color: rgb(249, 114, 136);
            border-style:ridge;
            padding: 30px; 
            margin-left:330px; 
            width: 50%;
            font-family:fantasy;
            font-weight:bold;
            font-size:20px;
        }
        #submit-button, #reset-button{
            background-color: rgb(249, 114, 136);
            font-size:15px;
            border-radius: 10px;
            padding:10px;
        }
    </style> 
	<h1>Display Jokes of Type:</h1>
    <div id="words">
    <form action="http://localhost:<%= port %>/jokesconfirm" method="post">
        <label for="type"><strong>Type of Joke</strong></label>
            <select id="type" name="type">
                <option value="general">General</option>
                <option value="knock-knock">Knock-Knock</option>
                <option value="programming">Programming</option>
                <option value="dad">Dad</option>
            </select>
   
        <br>
        <br>
   <input type="submit" id = "submit-button" value="Submit Request"/>
</form>

</div>
	<hr>
    <a href = "/">HOME</a>
</body>

</html>
